<!DOCTYPE html>
<html lang="fr">

<head>
    {% include 'partials/head.html' %}
    {% include 'partials/jshead.html' %}
</head>

<body>
    {% include 'partials/navbar.html' %}
    {% include 'partials/session_expired_modal.html' %}

    <main id="main-content" class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <!-- JS bootstrap, jquery, script-->

    {% include 'partials/scripts_footer.html' %}
</body>

</html>