{% extends 'base.html' %}

{% block title %}Nos Projets - BatiMart Pro{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="display-4 mb-4">Nos Projets</h1>
        <p class="lead">Découvrez quelques-unes de nos réalisations récentes.</p>
    </div>
</div>

<div class="row mt-5">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">Voir les détails</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="{% url 'contact' %}" class="btn btn-primary btn-lg">Démarrer votre projet</a>
    </div>
</div>
{% endblock %}