{% extends 'base.html' %}

{% block title %}Dashboard - BatiMart Pro{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Bienvenue sur votre Dashboard, {{ request.user.username }}!</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projets en cours</h5>
                    <p class="card-text">Vous avez 3 projets en cours.</p>
                    <a href="#" class="btn btn-primary">Voir les projets</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                    <p class="card-text">Vous avez 2 nouveaux messages.</p>
                    <a href="#" class="btn btn-primary">Lire les messages</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tâches</h5>
                    <p class="card-text">5 tâches à accomplir aujourd'hui.</p>
                    <a href="#" class="btn btn-primary">Voir les tâches</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}